@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

@theme {
  --font-source: "Source Code Pro", monospace;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(24px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideUpFade {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-slideUpFade {
  animation: slideUpFade 1s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 1s ease-in forwards;
}
